/* Just for the Look  */
body {
	background: #149cbe;
	color: #fff;
	font-family: "Roboto", sans-serif;
	font-size: 60px;
}
/* Wrapper to Center the Typewriter */
.wrapper {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.centeredBox {
	width: 100%;
	text-align: center;
}

/* The Typewriter */

#typewriter  {
	
}

.cursor {
	border-left: 4px solid white;
}